:root {
    --cinza-escurinho: #707070;
    --cinza: #aaa;
    --azul: #626b86;
    --azul-escura: #3a3947;
    --branca: #fff;
    --luz: #feffb6;
  }
  
  body {
    align-items: center;
    background: linear-gradient(45deg, #333 0%,#111 100%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
  }
  
  h1 {
    color: var(--branca);
    margin-bottom: 20px;
    font-size: 2rem;
  }
  
  .paginas {
    background: linear-gradient(to bottom, #555 0%,#444 100%);
    box-shadow: 6px 8px 0 6px #222, 10px 10px 10px #000;
    border-radius: 30px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
  }
  
  .tecla {
    background-color: var(--cinza);
    border-radius: 30px;
    box-shadow: 3px 3px 0 var(--cinza-escurinho);
    color: var(--azul);
    cursor: pointer;
    height: 120px;
    font-size: 1.75em;
    font-weight: bold;
    line-height: 120px;
    text-align: center;
    width: 120px;
  }
  
  .tecla.ativa,
  .tecla:active {
    background-color: var(--azul);
    border: 4px solid  var(--azul);
    box-shadow: 3px 3px 0 var(--azul-escura) inset;
    color: var(--branca);
    outline: none;
  }
  
  .tecla.focus,
  .tecla:focus {
    outline: none;
    box-shadow: 1px 1px 10px var(--luz);
  }
  
  .tecla.ativa:focus,
  .tecla:active:focus {
    box-shadow: 3px 3px 0 var(--azul-escura) inset, 1px 1px 10px var(--luz);
  }